external/CAENVMELib*
**/*.sw?
CMakeLists.txt.user*
.clangd/
build*/
.cmake/
.cache/
*.~lock*
*.dia.autosave
*build.log
# Created by https://www.toptal.com/developers/gitignore/api/visualstudiocode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
CMakeUserPresets.json
/install-prefix/
/drasi
/nurdlib
/ucesb
src/*.o
src/daq?
# mvme files
**/logs/*
**/run_logs/*
mvmeworkspace.ini
**/sessions/*.msess
vme_tree_ui_state.ini
