[submodule "external/nurdlib"]
    path = external/nurdlib
    url = https://github.com/flueke/nurdlib
[submodule "external/ucesb"]
    path = external/ucesb
    url = https://git.chalmers.se/expsubphys/drasi.git
[submodule "external/drasi"]
    path = external/drasi
    url = https://git.chalmers.se/expsubphys/drasi.git
[submodule "external/trloii"]
	path = external/trloii
	url = git@gitlab.com:chalmers-subexp/trloii.git
[submodule "external/r3bfuser"]
	path = external/r3bfuser
	url = git@gitlab.com:chalmers-subexp/r3bfuser.git
[submodule "external/mesytec-mvlc"]
	path = external/mesytec-mvlc
	url = git@github.com:flueke/mesytec-mvlc.git
[submodule "external/mvlcc"]
	path = external/mvlcc
	url = https://github.com/flueke/mvlcc_chalmers
